header
{
width:1000px;
height:150px;
background:gold;
}
nav
{
	width:1000px;
	height:30px;
	background:yellow;
}
section
{
	width: 525px;
	height: 450px;
	margin-top:10px;
	background:darkorange;
	float:left;
	margin-left:170px;
}
aside
{
	width: 465px;
	height:450px;
	margin-top:10px;
	background:orangered;
	float:right;
	margin-right:170px;
}
footer
{
    clear: both;
	width:1000px;
	height: 50px;
	margin-top:20px;
	background:yellow;
}
body
{
	background:lightyellow;
}